# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =====================
# Virtual Environment
# =====================
myvenv/
venv/
env/
.venv/

# =====================
# Django
# =====================
db.sqlite3
media/
staticfiles/
local_settings.py
.env

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# LaTeX build files
# =====================
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf

# =====================
# Temp files
# =====================
tmp/
temp/
